/include/ "system-conf.dtsi"
/ {
};

&spi0{
  is-decoded-cs = <0>;
  num-cs = <1>;
  status = "okay";
  bus-num = <0>;
  spidev@0x00 {
    compatible = "spidev";
    spi-max-frequency = <1000000>;
    spi-cpol;
    spi-cpha;
    reg = <0>;
    bus-num = <0>;
  };
};

&spi1{
   status = "okay";
   is-decoded-cs = <0>;
   num-cs = <1>;
   status = "okay";
   bus-num = <1>;
   spidev@0x00 {
     compatible = "spidev";
     spi-max-frequency = <1000000>;
     spi-cpol;
     spi-cpha;
     reg = <0>;
     bus-num = <1>;
  };
};

&amba_pl {
    dma_proxy{
        compatible ="xlnx,dma_proxy";
        dmas = <&axi_dma_0 0
                &axi_dma_0 1
                &axi_dma_1 1>;
        dma-names = "dma_proxy_tx_0", "dma_proxy_rx_0", "dma_proxy_rx_1";
    };
};

&amba_pl {
    multigpio {
        compatible = "wzab,multi-gpio";
        suppress_lsb-gpios   = <&axi_gpio_suppres 0 0>;
        suppress_msb-gpios   = <&axi_gpio_suppres 1 0>;
        adc_trigger-gpios    = <&axi_gpio_suppres 2 0>;
    };
};
